* {
  /* border: 1px red solid; */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-weight: normal;
  line-height: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none;
}

/* By top->bottom, Alignment and background color */

.content {
  flex: 1;
}

.header ul {
  gap: 24px;
}

.hero {
  gap: 32px;
  padding: 32px;
}

.hero-left {
  width: 400px;
}

.hero-left h1 {
  line-height: 1.1;
  margin-bottom: -8px;
}

.hero-right {
  display: flex;
  background-color: #7f858a; 
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
}


.header,
.header ul,
.footer,
.hero {
  background-color: #1F2937;
  display: flex;
  align-items: center;
}

.header,
.footer {
  justify-content: center;
  gap: 18rem;
}

.hero {
  justify-content: center;
  padding: 64px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.card {
  width: 150px;
}

.card p {
  margin-top: 0;
  text-align: center;
}

.card img {
  border: 3px blue solid;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.quote {
  background-color: #E5E7EB;
}

.footer {
  flex-shrink: 0;
  padding: 16px;
}

/* Typography */

h1,
h2,
.logo {
  font-weight: 900;
}

.hero h1 {
  font-size: 48px;
  font-weight: 600;
}

.hero h1,
.header .logo,
.hero-right {
  color: #F9FAF8;
}

/* remove link decoration and set font style */
.header a,
.header ul,
.hero-left p,
.footer {
  list-style-type: none;
  text-decoration: none;
  font-size: 18;
  color: #E5E7EB;
}

.cta-text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.header .logo {
  font-size: 24px;
}


/* button and cta */
.hero button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
  border: 2px solid #3882F6;
  border-radius: 8px;
  padding: 6px 24px;
}